@import "argon";
.custom-gradient {
  //   background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  //   background: linear-gradient(135deg, rgba(250, 121, 33, 1) 0%, rgba(16, 135, 55, 1) 100%);
  // background: #eea849;
  background: linear-gradient(100deg, #f46b45 -1%, #eea849 175%);
}

.list-group-item {

  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}

.notification {
  .notification-header {
    &:hover {
      cursor: pointer;
    }
    font-size: 1.2rem;
  }
}

.nav-link-icon {
  i {
    font-size: 1.4rem;
  }
}


.profile-page .card-profile .card-profile-image img {
  z-index: 2;
}

.profile-description {
  div {
    display: flex;
    flex-direction: column;

    span {
      color: #0c0c0c;
    }
    a {
      color: #5E72E4;
    }
  }
}

.modal-custom {
  max-height: 58vh;
  overflow: hidden scroll;
}

.navbar {
  .nav-link {
    &.dropdown-toggle {
      font-size: 1.05rem !important;
    }
  }
  
  .btn.btn-outline-secondary {
    border: 0;
    i {
      font-size: 1.4rem !important;
      color: white;
    }
    &:hover {
      box-shadow: none;
      i {
      color: white;
      }
      background: none;
    }
  }
}



.dropdown-toggle{
  &.nav-link::after {
    content: none !important;
  }
  i {
    padding: 0 0.25rem;
  }
}
.nav-brand-logo {
  height: 1.5rem;
}

.nav-link.nav-link-icon.btn {
  &:hover {
    border: 0;
    box-shadow: 0;
  }
}
.navbar-nav .nav-link-icon {
  padding: 0.5rem !important;
  background-color: white;
}
@media (min-width: 992px) {
  ul.dropdown-menu {
    margin-left: -1.2rem;
    &:before {
      content: none !important;
    }
  }
  .navbar {
    padding: 1rem;
  }
  .navbar-nav .nav-link-icon {
    padding: 0.5rem !important;
    background-color: white;
    i {
      // color: #172B4D;
    }
  }
  .dropdown-toggle.nav-link {
    padding: 0 !important;
  }
}
.btn-light.dropdown{
  background: none !important;
  box-shadow: none;
}
.col-md-6{
  .nav-link.nav-link-icon {
    border: 0;
    background: none !important;
    box-shadow: none;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

@media (min-width: 992px){
  .navbar {
    .dropdown {
      .dropdown-menu {
        margin-left: -7rem !important;
      }
    }
  }
}
