.custom-gradient {
  //   background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  //   background: linear-gradient(135deg, rgba(250, 121, 33, 1) 0%, rgba(16, 135, 55, 1) 100%);
  // background: #eea849;
  background: linear-gradient(100deg, #f46b45 -1%, #eea849 175%);
}

.list-group-item {

  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}

.notification {
  .notification-header {
    &:hover {
      cursor: pointer;
    }

    font-size: 1.2rem;
  }
}

.notification-badge {
  margin-left: -15px;
}

.nav-link-icon {
  i {
    font-size: 1.4rem;
  }
}

.profile-page .card-profile .card-profile-image img {
  z-index: 2;
}

.profile-description {
  div {
    display: flex;
    flex-direction: column;

    span {
      color: #0c0c0c;
    }

    a {
      color: #5E72E4;
    }
  }
}

.modal-custom {
  max-height: 58vh;
  overflow: hidden scroll;
}
